name: Linting

on:
  push:
    branches-ignore: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code  
      uses: actions/checkout@v4
  
    - name: Use Node.js 
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Lint
      run: npm run lint